extends base.pug
block styling 
 link(rel='stylesheet' , type='text/css', media='screen' , href='../css/loginpage.css')
block content 
 form
  .entry
    .entry-text
      | New Password
    input#npw(type='password' name='Confirm Password')
  .entry
    .entry-text
      | Confirm New Password
    input#cnpw(type='password' name='Confirm New Password')
  span#resetmessage
  .btn-parent
    button.btn.btn-full.form-button.resetBtn Reset Password    
block scripts  
 script(src="../js/forgetPassword.js")